{{> nav }}
<header class="masthead bg-primary text-white text-center">
<div class="container d-flex align-items-center flex-column">
    <img class="masthead-avatar mb-5" src="/images/genshin.png" alt="..." />
    <h1 class="masthead-heading text-uppercase mb-0">About Us</h1>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>   
</div>
</header>

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-white">Adventurer's Guild</h2>  
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
    </div>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Greetings Traveler! Welcome to the adventurers guild. Here you can meet and collaborate with other guild members to gather and share travelling information from all of Teyvat!</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Remember, the adventurers guild has branches in every major city in Teyvat. No matter where you are, the adventurers guild is here to assist!</p></div>
            </div>
    </div>
</section>

<section class="page-section bg-white mb-0" id="about">
    <div class="container">
    <h2 class="page-section-heading text-center text-uppercase">Packages Used</h2>  
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
    </div>
        <div class="row">
            <div class="card col-md-2 ms-auto"><p class="lead">Express</p></div>
            <div class="card col-md-2 me-auto"><p class="lead">Moongoose</p></div>
            <div class="card col-md-2 me-auto"><p class="lead">Passport</p></div>
            <div class="card col-md-2 me-auto"><p class="lead">Dontenv</p></div>
            <div class="card col-md-2 me-auto"><p class="lead">Handlebars</p></div>

            
        </div>
    </div>
</section>
