<body id="page-top">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
               
                <img class="masthead-avatar mb-5" src="/images/genshin.png" alt="..." />
                
                <h1 class="masthead-heading text-uppercase mb-0">Ad Astra Abyssosque</h1>
                
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-0">Greetings Traveller, Welcome to the Adventurer's Guild!</p>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="/commBoard">
                        Join the Guild!
                    </a>
                </div>
            </div>
        </header>
        
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
               
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cities</h2>
  
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
               
                <div class="row justify-content-center">
                    
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" >
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">Mondstadt</div>
                            </div>
                            <img class="img-fluid" src="/images/mondstadt.jpg" alt="..." />
                        </div>
                    </div>    
                   
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">Liyue</div>
                            </div>
                            <img class="img-fluid" src="/images/liyue.jpg" alt="..." />
                        </div>
                    </div>
                   
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">Inazuma</div>
                            </div>
                            <img class="img-fluid" src="/images/inazuma.jfif" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
       
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
           
                <h2 class="page-section-heading text-center text-uppercase text-white">Meet New Travelers</h2>
                
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Here in the Adventurers Guild you can meet new travelers from all across the world of Teyvat. Meet new friends and form new connections</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Players from all around are welcome here. Navigate commission boards from the various branches of the guild located in major cities all around Teyvat</p></div>
                </div>
            </div>
        </section>

        <section class="page-section bg-tertiary mb-0" id="about" style="background-color: #f2eeea!important">
            <div class="container">
                
                <h2 class="page-section-heading text-center text-uppercase">Explore New Locations</h2>
                
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
               
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Each major city has Commission Boards. Here, travelers read and comment on postings by other travelers ranging from adventuring tips or requests for advice. </p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Each commission board provides information specific to its location. Commission boards in Liyue can only be about things in Liyue, and so on. </p></div>
                </div>
            </div>
        </section>

        <section class="page-section bg-secondary text-white mb-0" id="about">
            <div class="container">
               
                <h2 class="page-section-heading text-center text-uppercase text-white">Share Your Experiences</h2>
                
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
              
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead"> It is your duty as a member of the Adventurers Guild to share your experiences with other members of the guild. Be it about traveling, monsters, or offering your help</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead"> When other travelers are in need, feel free to comment on ther post and offer your own advice. Let's give each other a helping hand!</p></div>
                </div>
            </div>
        </section>
    
        <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Adventurer's Guild 2021</small></div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>